.text-center{
    text-align: center;
}
.text-center .chefs-title{
    margin: 15px 0px 0px;
    font-size: 3.2rem;
    line-height: 1.1;
}
.text-center .chefs-sub-title{
    color: #f94848;
    font-size: 35px;
    font-weight: 600;
    margin: 0;
}
.chefs-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 6rem;
    cursor: pointer;
    text-align: center;
}

