.register-title{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
.field .name, .field .photo, .field .btn-register{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    outline: none;
}
.name, .photo{
    padding-left: 10px;
}
.btn-register{
    background-color: #f94848;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.success-error{
    margin-top: 20px;
    text-align: center;
}
.success-msg{
    color: #09a846;
    font-weight: 600;
}
.error-msg{
    color: #f94848;
    font-weight: 600;
}