.text-center{
    text-align: center;
}
.text-center .food-menu-title{
    margin: 15px 0px 0px;
    font-size: 3.2rem;
    line-height: 1.1;
}
.text-center .food-menu-sub-title{
    color: #f94848;
    font-size: 35px;
    font-weight: 600;
    margin: 0;
}
.menu-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
    cursor: pointer;
}
.box{
    padding: 15px 50px 15px 50px;
    background: #fff;
    border-radius: 20px;
}
.box-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.box-img img{
    width: 100%;
    height: auto;
}
.box-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #181818;
}


.food-menu-btn{
    display: inline-block;
    background-color: #f94848;
    padding: 13px 30px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
}