.footer{
    padding: 25px 18%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
}
.contact-box h3{
    margin-bottom: 1.5rem;
    font-size: 22px;
}
.contact-box h5{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}
.social{
    display: flex;
    margin-top: 1.7rem;
}
.social a{
    font-size: 24px;
    margin-right: 1rem;
    color: #f94848;
}
.contact-box a{
    margin-bottom: 14px;
    display: block;
    color: #757575;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
}
.address .map, .address .envelope, .address .phone{
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    margin-right: 24px;
    color: #757575;
}